<div class="index__game">
	<section class="headline">
		<h1>Whack-A-Mole</h1>
		<p>Welcome to Whack-A-Mole press start to test your skillz</p>
		<button data-action="start">Start Game!</button>
	</section>

	<section data-region="board"></section>
	<section data-region="scoreboard"></section>
</div>