@import 'game/mole/styles';
@import 'game/board/styles';


$bgColor: #22FF92;

body {
	background: $bgColor;
	font-family:'Holtwood One SC', serif;
}

.headline {
	margin:0 auto;
	width:50%;
	text-align:center;
}